# Add the values for the Credentials to access the IBM Cloud
# Instructions to access this information can be found in the README.MD

## ------------------------------------------------------------------------------------------------------------
## NEW INFRASTRUCTURE: Modify this export statement to create a new VSI or OpenShift cluster on IBM Cloud
## ------------------------------------------------------------------------------------------------------------
# This is a template file and the ./launch.sh script looks for a file based on this template named credentials.properties
export TF_VAR_ibmcloud_api_key=

## ------------------------------------------------------------------------------------------------------------
## EXISTING CLUSER: Uncomment and modify the export statements to deploy Wazi for Dev Spaces into an existing cluster
## ------------------------------------------------------------------------------------------------------------
## TF_VAR_server_url: The url for the OpenShift api server (used when deploying to an existing openshift cluster)
# export TF_VAR_server_url=
## TF_VAR_cluster_login_token: Token used for authentication to the api server (used when deploying to an existing openshift cluster)
# export TF_VAR_cluster_login_token=

## ------------------------------------------------------------------------------------------------------------
## GITOPS: Uncomment and modify the export statements only if you do not want to use cluster-internal git using Gitea (used by default)
## ------------------------------------------------------------------------------------------------------------
## gitops_repo_host: The host for the git repository
#export TF_VAR_gitops_repo_host=github.com
## gitops_repo_username: The username of the user with access to the repository
#export TF_VAR_gitops_repo_username=
## gitops_repo_token: The personal access token used to access the repository
#export TF_VAR_gitops_repo_token=